.flex, .flex-row, .flex-row-space-around, .searchbar, .rate, .flex-column, .flex-column-space-around, main, .scores, .desk-tab-row, body, .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-row, .flex-row-space-around, .searchbar, .rate {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column, .flex-column-space-around, main, .scores, .desk-tab-row, body, .search {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row-space-around, .searchbar, .rate {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-column-space-around, main, .scores, .desk-tab-row {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  width: 100%; }

.search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #303030; }

.slogan {
  font-size: 18px;
  font-style: italic;
  margin: 15vh auto;
  color: #e2e3e5; }

.brand {
  margin: 0 auto 30px auto;
  font-style: italic;
  color: #e2e3e5; }
  .brand a {
    text-decoration: none;
    color: #e2e3e5; }

.searchbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 75%;
  height: 40px;
  margin: 0 auto;
  background-color: #e2e3e5;
  opacity: 0.75; }

.searchbar, input, button {
  border-radius: 20px; }

input, button {
  height: 75%;
  border: none;
  outline: none; }

input {
  width: 65%;
  text-align: center;
  font-style: italic;
  color: #303030;
  background-color: inherit; }
  input:focus {
    background-color: initial; }

button {
  width: 15%;
  background: none; }

.home-bg {
  position: absolute;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 40vh; }

.error {
  width: 85%;
  margin: 25px auto;
  color: red;
  font-style: italic;
  text-align: center;
  z-index: 2; }

main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  background-color: #e2e3e5;
  color: #303030; }

.city-name, .scores-header {
  text-align: center;
  margin-bottom: 30px; }

.summary, .scores {
  width: 85%;
  margin: auto; }

.summary {
  padding: 15px;
  margin-bottom: 50px;
  line-height: 25px;
  font-style: italic; }

.scores {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.desk-tab-row {
  margin-bottom: 5px; }

.rate {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-bottom: 20px; }

@media only screen and (min-width: 475px) and (max-width: 600px) {
  .home-bg {
    height: 45vh; } }

@media only screen and (min-width: 601px) and (max-width: 750px) {
  .slogan {
    margin: 8vh auto; }
  .home-bg {
    width: 85%;
    height: 55vh; } }

@media only screen and (min-width: 751px) and (max-width: 1000px) {
  .slogan {
    margin: 8vh auto; }
  .home-bg {
    width: 80%;
    height: 60vh; } }

@media only screen and (min-width: 1001px) {
  .slogan {
    margin: 7vh auto; }
  .home-bg {
    width: 80%;
    height: 55vh; } }

@media only screen and (min-width: 600px) {
  .error {
    font-size: 17px; }
  .summary {
    width: 70%;
    line-height: 30px; }
  .scores {
    width: 75%; } }

@media only screen and (min-width: 750px) {
  .scores {
    width: 85%; }
  .desk-tab-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .rate {
    width: 45%; } }

@media only screen and (min-width: 600px) and (max-width: 999px) {
  .slogan {
    font-size: 20px; }
  .brand {
    font-size: 34px; }
  .searchbar {
    width: 65%; }
  .city-name, .scores-header {
    font-size: 22px; }
  .summary {
    font-size: 18px; }
  .rate span {
    font-size: 17px; } }

@media only screen and (min-width: 1000px) {
  .slogan {
    font-size: 21px; }
  .brand {
    font-size: 36px; }
  .searchbar {
    width: 50%;
    border-radius: 30px; }
  input {
    font-size: 16px; }
  .city-name, .scores-header {
    font-size: 24px; }
  .summary {
    width: 60%;
    font-size: 19px; }
  .rate h4, .rate span {
    font-size: 18px; } }

@media only screen and (min-width: 1200px) {
  .searchbar {
    height: 50px; }
  .error {
    font-size: 20px; }
  .summary {
    font-size: 21px;
    line-height: 40px; }
  .scores-header {
    font-size: 30px; }
  .rate h4, .rate span {
    font-size: 20px; } }

@media only screen and (max-height: 500px) and (orientation: landscape) {
  .slogan {
    font-size: 16px;
    margin: 8vh auto; }
  .brand {
    font-size: 30px;
    margin-bottom: 15px; }
  .searchbar {
    height: 40px; }
  .error {
    margin: 10px auto; }
  .home-bg {
    height: 40vh;
    width: 50%; } }
